*{
    box-sizing: border-box;
}

body{
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    border: 0.5px hsl(240, 54%, 73%) solid ;
}


.left-section{
    background: #9595df;
    height: 100%;
    width: 38%;
    float: left;
    margin-right: 10px;
}


/*photo*/
.left-section .photo img{
    
    height: 45mm;  
    border-radius: 50%; 
}
.left-section .photo{
    text-align: center;
    position: relative;
    top: 10px;
    margin-bottom: 20px;
}


/*table pour les icons et les info*/
.left-section .info .icons {
    width: 25px;
}
.left-section table{
    margin-left: 20px;
}
.left-section .info table td{
    padding-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}
.left-section .info a{
    color: inherit;
    text-decoration: none;
}

/*les langues*/
.title-left{
    font-family: sans-serif;
    text-align: left;
    position: relative;
    left: 25px;
    padding: 0;
    padding-bottom: 2px;

    color:hsl(0, 0%, 100%);
    text-shadow: 1px 1px 1px black;
    width: 150px;
    border-bottom: 2px black solid;

}

.langues table th, .langues table td{
    padding: 0 30px 5px 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}


/*soft skills*/

.left-section .soft-skills ul{
    list-style:square;
    font-size: 1.1em;
    margin-left: 15px;

    font-family: Arial, Helvetica, sans-serif;
}

/*competence*/
.skills ul{
    column-count: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.skills li{
    padding-bottom: 5px;
}


/*--------------------------- hover left--------------------------------*/

.skills li:hover{
    font-weight: bold;
    text-decoration:underline;
    cursor: pointer;
}
.left-section .info tr:hover{
    text-decoration:underline;
}

.left-section .soft-skills li:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
    
}
.left-section .langues table th:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bolder;
}
.left-section .langues table th:hover + td{
    color: white;
    text-shadow: 5px 5px 5px black;
    font-weight: bold;
}





/*------------------------- right section --------------------------------------*/

.right-section{
    margin-left: 8.5cm;
    padding-right: 15px ;
}

.right-section .name h2{
    font-family:Verdana,arial;
    font-weight: bold;
    font-size: 2.5em;
    text-align: left;
    margin-bottom: 0;
    color: hsl(240, 50%, 30%);
}
.right-section .name h3{
    font-family: sans-serif;
    font-size: 1.3em;
    text-align: left;
    margin-top: 4px;
    font-weight: 500;
    color: hsl(0, 50%, 40%);;
    
}

.right-section .title-right{
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(160, 81%, 30%);
}
.education .content{
    padding:0 20px;
    border-left: 3px hsl(160, 80%, 20%) dashed;
   
}
.education .content .box{
    background-color: hsla(224, 48%, 56%, 0.164);
    margin: 0 15px 10px 0px;
    padding: 1px 10px 1px 15px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    border-radius: 10px;
    border: 1px black solid;
}
.box span{
    font-style: italic;
    font-weight: 500;
    float: right;
}
.education .content .box h4{
    color: red;
}
.education .content .box .school{
    color:rgb(0, 0, 255);
    
} 

.framework ul{
    columns: 3;
    list-style: none;
    padding: 0;
    
}
.framework li{
    border: 2px black solid;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}





/*-------------------------- hover right -------------------------*/

.right-section .summary:active p{
    border: 2px hsl(0, 50%, 40%) dotted;
    padding: 10px;
    margin-right: 10px;
    border-radius: 25px;
}
.education .content .box:hover{
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
}
.framework li:hover{
    background:lightgreen;
    cursor: pointer;
    box-shadow: 2px 2px 1px hsl(240, 54%, 73%);
}




/*------------------------------Full Screen-------------------------------------------------*/

@media screen and (min-width:29cm) {
    body{
        width: 100%;
    }

    /*
    .left-section{
        width: 20%;
        min-width: 8cm;

    }
    */

    .right-section{
        margin-left: 21%;
    }
    .education .content{
        display: flex;
        flex-direction: row-reverse;
        border-left: none;
        padding: 10px 0px 0px;
    }
    .education .arrow1{ 
        /*border-left: 50px solid transparent;*/
        border-right: 30px solid transparent;
        border-bottom: 4px dashed hsl(160, 80%, 20%);

        margin: 0 2%;
    }
    .education .arrow2{    
        /*border-left: 50px solid transparent;*/
        border-right: 30px solid transparent;
        border-top: 4px dashed hsl(160, 80%, 20%);

        margin: 0 2%;
    }
    
    .right-section .summary p{
        font-size: large;
    }

    .left-section{
        width: 100%;
        height: 23%;
        display: flex;
    }

    
    .left-section{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    
    .left-section .skills ul{
        columns: 2;
        grid-auto-columns: auto;
        gap: 50px;
        width: 400px;
    }
    
    .langues , .soft-skills  , .skills{
        margin-right: 4%;
    }

    .right-section{
        margin-left: 5%;
    }
    .right-section .name h2{
        margin: 20% 0px 5px 0;
    }

    
}